<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>footerText</key>
			<string>Turn &quot;Default&quot; off to apply the custom radius.</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Homescreen blur radius</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>key</key>
			<string>HomescreenBlurRadiusDefault</string>
			<key>label</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>showValue</key>
			<true/>
			<key>max</key>
			<integer>30</integer>
			<key>min</key>
			<integer>0</integer>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>key</key>
			<string>HomescreenBlurRadius</string>
		</dict>
	</array>
	<key>title</key>
	<string>Blur radius</string>
</dict>
</plist>
