<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lockscreen</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>key</key>
			<string>Lockscreen</string>
			<key>label</key>
			<string>Enable blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Lockscreen blur style</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>Blur</string>
			<key>key</key>
			<string>LockscreenStyle</string>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>validValues</key>
			<array>
				<string>UltraLight</string>
				<string>Light</string>
				<string>AdaptiveLight</string>
				<string>SemiLight</string>
				<string>Blur</string>
				<string>BlurDefault</string>
				<string>Dark</string>
				<string>DarkZoom</string>
				<string>UltraDark</string>
				<string>BW</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Ultra Light</string>
				<string>Light</string>
				<string>Adaptive Light</string>
				<string>Semi Light</string>
				<string>Default</string>
				<string>Blur</string>
				<string>Dark</string>
				<string>Dark Zoom</string>
				<string>Ultra Dark</string>
				<string>B &amp; W</string>
			</array>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Blur radius</string>
			<key>detail</key>
			<string>BlurpaperSettingsLSBlurRadius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Homescreen</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>key</key>
			<string>Homescreen</string>
			<key>label</key>
			<string>Enable blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Homescreen blur style</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>Blur</string>
			<key>key</key>
			<string>HomescreenStyle</string>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>validValues</key>
			<array>
				<string>UltraLight</string>
				<string>Light</string>
				<string>AdaptiveLight</string>
				<string>SemiLight</string>
				<string>Blur</string>
				<string>BlurDefault</string>
				<string>Dark</string>
				<string>DarkZoom</string>
				<string>UltraDark</string>
				<string>BW</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Ultra Light</string>
				<string>Light</string>
				<string>Adaptive Light</string>
				<string>Semi Light</string>
				<string>Default</string>
				<string>Blur</string>
				<string>Dark</string>
				<string>Dark Zoom</string>
				<string>Ultra Dark</string>
				<string>B &amp; W</string>
			</array>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Blur radius</string>
			<key>detail</key>
			<string>BlurpaperSettingsHSBlurRadius</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>ControlCenter</string>
        </dict>
        <dict>
            <key>PostNotification</key>
            <string>com.pNre.blurpaper/settingsupdated</string>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.pNre.blurpaper</string>
            <key>key</key>
            <string>ControlCenter</string>
            <key>label</key>
            <string>Enable blur</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>label</key>
            <string>ControlCenter blur style</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>default</key>
            <string>Blur</string>
            <key>key</key>
            <string>ControlCenterStyle</string>
            <key>defaults</key>
            <string>com.pNre.blurpaper</string>
            <key>validValues</key>
            <array>
                <string>UltraLight</string>
                <string>Light</string>
                <string>AdaptiveLight</string>
                <string>SemiLight</string>
                <string>Blur</string>
                <string>BlurDefault</string>
                <string>Dark</string>
                <string>DarkZoom</string>
                <string>UltraDark</string>
                <string>BW</string>
            </array>
            <key>validTitles</key>
            <array>
                <string>Ultra Light</string>
                <string>Light</string>
                <string>Adaptive Light</string>
                <string>Semi Light</string>
                <string>Default</string>
                <string>Blur</string>
                <string>Dark</string>
                <string>Dark Zoom</string>
                <string>Ultra Dark</string>
                <string>B &amp; W</string>
            </array>
            <key>PostNotification</key>
            <string>com.pNre.blurpaper/settingsupdated</string>
        </dict>
        <dict>
            <key>isController</key>
            <true/>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Blur radius</string>
            <key>detail</key>
            <string>BlurpaperSettingsCCBlurRadius</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Fade blur on unlock</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>BlurFading</string>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>key</key>
			<string>DockBackground</string>
			<key>label</key>
			<string>Background</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>key</key>
			<string>DockSeparator</string>
			<key>label</key>
			<string>Separator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Parallax</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>Parallax</string>
			<key>defaults</key>
			<string>com.pNre.blurpaper</string>
			<key>PostNotification</key>
			<string>com.pNre.blurpaper/settingsupdated</string>
		</dict>
	</array>
	<key>title</key>
	<string>Blurpaper</string>
</dict>
</plist>
